.para {
    background-color: rosybrown;
    color: royalblue;
    text-align: center;
    font-size: 50px;
    font-family: fantasy, sans-serif, helvetica;
}

.para .small {
    background-color: seagreen;
    color: snow;
    font-size: 28px;
}

.button {
    background-color: black;
    color: snow;
    font-family: sans-serif, helvetica, "Times New Roman";
    font-size: 30px;
    font-weight: 700;
}

.button.mini {
    font-size: 20px;
    background-color: tomato;
}

#curry {
    background-color: rgb(106, 106, 194);
    font-weight: 300;
}